
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-regular.ttf') format('truetype');
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-medium.ttf') format('truetype');
}
* {
    font-family: Vazir;
}

/*---------- category -------------- */

.img-200x120{
    width:200px !important;
    height:120px !important;
}


/*---------- category -------------- */
